[submodule "jamtestvectors"]
	path = jamtestvectors
	url = git@github.com:davxy/jam-test-vectors.git
[submodules "jamtestvectors"]
	branch = polkajam-vectors
[submodule "jamtestnet"]
	path = jamtestnet
	url = git@github.com:jam-duna/jamtestnet.git
[submodule "jam-conformance"]
	path = jam-conformance
	url = git@github.com:davxy/jam-conformance.git
