name: CI checks

on:
  workflow_call:


defaults:
  run:
    shell: bash

jobs:
  build:
    name: "Compile and Test (${{ matrix.constants }})"
    runs-on: self-hosted
    strategy:
      matrix:
        constants: [tiny, full]
    env:
      JAM_CONSTANTS: ${{ matrix.constants }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Install Node
        uses: ./.github/actions/setup

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Typescript
        run: |
          yarn build

      - name: Lint
        run: |
          yarn lint

      - name: Test Jam
        run: |
          yarn ci:${{matrix.constants}}
