name: Release in tsjam-releases
on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: Which release Tag to deploy
        required: true
        default: '0.7.0'
        type: string

jobs:
  release:
    name: Release
    timeout-minutes: 120
    runs-on: self-hosted

    steps:
      - name: Download the tar from release like a boss
        uses: robinraju/release-downloader@v1
        id: downloadtar
        with:
          repository: 'vekexasia/tsjam'
          tag: ${{ github.event.inputs.release_tag }}
          fileName: 'tsjam-fuzzer-target.tgz'
          out-file-path: './downloaded/'
          token: ${{ secrets.RELEASES_TOKEN }}

      - name: Create release in vekexasia/tsjam-releases
        if: github.event_name != 'pull_request'
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.RELEASES_TOKEN }}
          owner: vekexasia
          repo: tsjam-releases
          tag: ${{ github.event.inputs.release_tag }}
          name: "${{ steps.downloadtar.outputs.release_name}}"
          body: "${{ steps.downloadtar.outputs.release_name}}"
          draft: false
          allowUpdates: true
          artifacts: ./downloaded/tsjam-fuzzer-target.tgz
          artifactContentType: application/gzip
